html {
	scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 100%;
}

.top{
    margin-top: 0%;
    font-family: 'Sora', sans-serif;
    height: 100vh;
    filter: blur(0px);
}

.navigation {
	display: flex;
	align-items: center;
	height: 10vh;
}

.logo{
    width: 30vw;
    display: flex;
    align-items: center;
    margin-left: 10vw;;
    color: #ffffff;
    margin-top: 5vh;
}

.logo-image{
    width: 35px;
    filter: invert(1);
    margin-right: 10px;
}

.nav-container {
    list-style-type: none;
	display: flex;
	margin-left: auto;
	margin-right: 11.25vw;
    margin-top: 5vh;
    font-size: 1rem;
}

.nav-element {
    margin: auto;
	margin-left: 40px;
	color: #ffffff;
}

.nav-element:hover {
	color: #949494;
    transform: scale(1.2);
    text-decoration: underline;
}

.nav-link {
	color: #ffffff;
	text-decoration: none;
}

.main{
    background-color: #592321;
    display: flex;
    color: #ffffff;
    height: 80vh;
}

.main-info-text{
    position: absolute;
    margin-left: 10vw; 
    margin-right: 60vw;
    margin-top: 40vh;
    margin-bottom: 30vh;
    font-size: 2rem;
}

.main-info-register-button{
    position: absolute;
    margin-left: 10vw; 
    margin-top: 65vh;
    font-size: 1.5rem;
    border-style: solid;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.main-info-register-button:hover{
    transform: scale(1.1);
    color:#592321;
    background-color: #ffffff;
}

.main-info-register-button:active{
    color:#ffffff;
    background-color: #592321;
}

.main-info-scroll-down-button{
    position: absolute;
    padding: 0;
    margin-left: 10vw; 
    margin-top: 77.5vh;
    margin-bottom: 10vh;
    font-size: 1.25rem;
    text-decoration: underline;
    transition: 0.5s;
    cursor: pointer;
    color: #ffffff;
    pointer-events: all;
}

.main-info-scroll-down-button:hover{
    text-decoration: none;
    transform: translateY(10px);
}


.main-image{
    height: 70vh;
    width: 60vw;
    margin-top: 10vh;
    margin-left: 28vw;
    margin-bottom: 10vh;
}

.slide-image {
    animation-name: animation_image;
    animation-duration: 1s;
}

@keyframes animation_image {
    0% {
        opacity: 0;
		transform: translateX(5%);
	}
    33%{
        
        opacity: 0;
		transform: translateX(5%);
    }
	100% {
        opacity: 1;
		transform: translateX(0);
	}
}

.slide-text {
    animation-name: animation_text;
    animation-duration: 1.5s;
}

@keyframes animation_text {
    0% {
        opacity: 0;
		transform: translateX(5%);
	}
    66.67%{
        
        opacity: 0;
		transform: translateX(5%);
    }
	100% {
        opacity: 1;
		transform: translateX(0);
	}
}

.slide-down {
    animation-name: animation_down;
    animation-duration: 3.5s;
}

@keyframes animation_down {
    0% {
        opacity: 0;
		transform: translateX(-5%);
	}
    71.4%{
        opacity: 0;
		transform: translateY(-150%);
    }
	100% {
        opacity: 1;
		transform: translateY(0);
	}
}

.mid{
    height:100vh;
    background-color: #251b1e;
    font-family: 'Sora', sans-serif;
}

.product-container{
    height: 75vh;
    width: 86vw;
    margin-top: 12.5vh;
    margin-bottom: auto;
    margin-left: 7vw;
    margin-right: auto;
    background-color: #592321;
    position: absolute;
}

.product{
    position: absolute;
    width: 86vw;
    height: 25vh;
}

.product-portfolio{
    position: absolute;
    width: 20vw;
}

.product-image{
    
    width: 20vw;
    height: 25vh;
    margin: auto;
}


.product-text{
    position: absolute;
    top: 0;
    bottom: auto;
    left:auto;
    right: 0;
    width: 50vw;
    height: 25vh;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    background-color: #c9b2aa;
    padding-right: 5vw;
}

.product-name{
    position: absolute;
    margin-top: 15vh;
    font-size: 2rem;
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
    animation-name: slide_title;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
}

.product-content{
    position: absolute;
    font-size: 1.2rem;
    
    text-align: left;
    padding-left: 5vw;
    margin-top: 30vh;
    padding-right: 5vw;
    animation-name: slide_content;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
}

.story-button{
    position: absolute;
  
    text-decoration: underline;
    font-size: 1rem;
    transition: 0.5s;
    cursor: pointer;
    right: 0;
    padding-right: 6vw;
    text-align: right;
    margin-top: 70vh;
    animation-name: slide_button;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.product-button:hover{
    text-decoration: none;
    transform: translateX(10px);
}

.footer{
    background-color: #592321;
    color: #ffffff;
    font-family: 'Sora', sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    align-items: center;
    height: 10vh;
}

.footer-left{
    margin-left: 5vw;
    width: 10vw;
    text-align: center;
    cursor: pointer;
}

.footer-left-content:hover{
    text-decoration: underline;
}

.footer-left-content:active{
    color:#c9c8c7 ;
}

.footer-right{
    margin-right: 5vw;
    margin-left: auto;
}

.footer-mid{
    position: absolute;
    width: 10vw;
    margin-left: 45vw;
    text-align: center;
}


.name{
    color: #c2c2c2;
    cursor: pointer;
}

.name:hover{
    text-decoration: underline;
}

.custom-background-color{
    background-color: #592321;
}

.custom-color{
    color: #262626;
}


